body{
    background-image: url("beer1.jpg");   
    width: "col-12";   
    min-height: 800px;
    max-width: 800px;
    background-position: center;
    background-size: cover;
    color:white;
}
#beer{
    color:white;
    margin-left: 1300px;
    margin-top: 150px;
    font-size: 24px;
    
    }
    #txt1{
        margin-left: 1300px;
        font-size: 24px;
        
   
   }
   
   #submit{
        margin-left: 1300px;
        font-size: 24px;
        
   }
   
   td { 
   border: 1px solid white; 
   color:white;
   max-width: 500px;
   min-width: 400px;
   
   font-size: 18px;
   }
   
   #output{
        margin-left: 1200px;
        font-size: 18px;
   }
